//######################Set Border-Box
html{
	box-sizing:border-box;

  //default link colors
  //link-colors($normal, $hover, $active, $visited, $focus) 
  a{
    @include link-colors($cpTeal, $cpOrange, $cpPurple, $cpGreen, $cpOrange);
    @include hover-link;
  }
}

*, *:before, *:after{
	box-sizing:inherit;
}

*+*{
  margin-top:0;
  margin-bottom:0;
  padding-top:$padding;
  padding-bottom:0;
}


//######################SETUP SUSY
//defaults commented out
$small      : 26em;
$medium     : 45em;
$large      : 60em;
$susy: (
  // flow: ltr,
  // math: fluid,
  // output: float,
  container: $large, //set max width
  // container-position: center, //centers container
  columns: 12,    //4,
  gutters: .20, // .25 ratio of gutter to column width
  // column-width: false, //set explicit width
  gutter-position: inside, //after,
  global-box-sizing: border-box, //content-box,
  last-flow: to,
  debug: (
    // image: show, //hide,
    // output: background,
    // toggle: top right,
    // color: rgba(#66f, .25),
  ),
  use-custom: (
    clearfix: false,
    background-image: true,
    background-options: false,
    //breakpoint: true,
    box-sizing: true,
    rem: true,
    //location: null;
  )
);


$cpYellow: #ffce00;
$cpSalmon: #e56066;
$cpOrange: #ed7e22;
$cpBlue: #0062a4;
$cpGreen: #37b449;
$cpTeal: #57bfc4;
$cpPurple: #825da3;
$cpWhite: #FFFFFF;

.cpBlue{
  color:$cpBlue;
}
.cpSalmon{
  color:$cpSalmon;
}
.cpYellow{
  color:$cpYellow;
}

