//######################Spacing Variables
// http://www.zell-weekeat.com/context-with-susy/
// $padding: 1rem;
// $margin: 1rem;
// $halfmargin: $padding/2;
// $halfpadding: $margin/2;


//######################LAYOUTS

//##########Susy Responsive sizes

//Susy is context/nesting sensitive!!!!


//place all custom spans in the Medium and Large breakpoints

// Since small is default, and sizes for small will be full width, there is
// no need to do spans for the small size.


// if you have a .primary (span(9 of 12)) section, and put three .thirdwidth

// if you have a .primary (span(9 of 12)) section, and put three .thirdwidth

// (span(4 of 12)) sections INSIDE it, then you will divide up the
// .primary into 12 columns and give each .thirdwidth section 4 of those nested columns.

// in other words, each nested .thirdwidth will be a third the width of the .primary section.

// if a class does not have a span defined, it will default to full width.
// it is preferred to not use the .fullwidth class

// .siteheader{}
// .main{}
// .sitefooter{}

//##########base layouts (Mobile and Small)
.layout{
  @include container;
  margin:0 auto;
  padding:0 $halfpadding;
  @include clearfix;
}

body nav,body main,body footer,body header{
  @include clearfix;
  margin:0;
}

.headsecondary .layout div:nth-child(2){
  position:absolute;
  top: -9999px;
  left: -9999px;
}
.menutitle{
  text-align:center;
}

.logoimg {
    height: 10rem;
}

footer .logoimg{
    height: 13rem;

}

.siteheader{
  background: url("images/heroimagesm.jpg") no-repeat center center;
  height: 10em;
}

.storyText {
  font-size: .8em;
}

.video {
  margin-top: 1.4em;
}

.video iframe {
    width: 95%;
    height: 15em;
    display: block;
    margin: auto;
  } 

#mc_embed_signup.emailForm input.email {
    width: 70%;
    margin: auto;
    text-align: center;
    display: block;
}

#mc-embedded-subscribe.greenButton {
    margin: auto;
    display: block;
    margin-top: .5em;
}

.getInvolvedBadge {
  text-align: center;
}

.homeSplat {
  display: block;
  margin: auto;
  width: 50%;
}

.galleryHome {
    margin: $margin;
  }

  .giText {
    margin-bottom: $margin;
    padding: $padding;
  }

  .giImage {
    padding: $padding;
  }


   .formText {
    padding: $padding;
  }

  .formSplat {
  width: 60%;
  display: block;
  margin: auto;
  }


//footer layout divs
body footer{
  padding-top: $padding;
}
.footlogo,   .footcopy{
  text-align:center;
}

.twocolart{
    text-align:left;
}

//medium breakpoint
@include susy-breakpoint ($medium){
  //head columns
  .headprimary{
    // @include span(9 of 9);
  }

  .headsecondary{
    // @include span(6 of 9);
  }

  //body columns
  .primary{
    @include span(6 of 9);
  }

  .secondary{
    @include span(3 of 9);
  }

  .fullwidth{
    @include span(9 of 9);
  }
  .thirdwidth{
    @include span(3 of 9);
  }

  .thirdwidth:nth-child(3n+0){
    @include span(last 3 of 9);
  }

//FOOTER
  .footsocial{
    @include span(3 of 9);
  }

  .footnav {
    @include span(3 of 9);
  }

  .footlogo{
    @include span(last 3 of 9);
    text-align:center;
  }


  .siteheader{
    background: url("images/heroimage.png") no-repeat center center;
    height: 20em;
  }

  .logoimg{
      height: 9em;
    }

  .storyText {
    @include span(4 of 9);

  }

  .video {
    @include span(5 of 9);
    margin-top: 1.4em;
  }

  .video iframe {
    width: 100%;
    height: 18em;

  }

  #mc_embed_signup.emailForm input.email {
    width: 50%;
    display: inline;
    float: left;
}

#mc-embedded-subscribe.greenButton {
    margin: auto;
    display: inline;
    float: right;
}

/*----------- Forms ------------*/

  .formText {
    @include span(4 of 9);
  }

  #mc_embed_signup {
    @include span(5 of 9);

  }

  .formSplat {
  width: 40%;
  }

  .donateForm {
    @include span(5 of 9);
  }
}


//large breakpoint
@include susy-breakpoint ($large){
  //head columns
  .headprimary{
    // @include span(6 of 12);
  }

  .headsecondary{
    // @include span(3 of 12);
  }

  // .headsearch{
  //   @include span(last 3 of 12);
  // }

  //body columns
  .primary{
    @include span(9 of 12);
  }

  .secondary{
    @include span(3 of 12);
  }

  .fullwidth{
    @include span(12 of 12);
  }

  .thirdwidth{
    @include span(4 of 12);
  }

  .thirdwidth:nth-child(3n+0){
    @include span(last 3 of 12);
  }


  /*foot and nav styles*/
  .footsocial{
    @include span(3 of 12);
  }

  .footnav{
    @include span(6 of 12);
    h2{
      margin-bottom: 0;
    }
    .twocolart{
      padding-top: .5em;
      column-count: 2;
      border-top: $cWhite solid 2px;
    }
  }

  .footlogo{
    p{
      text-align: center;
    }
    @include span(last 3 of 12);
    clear:none;
    text-align:right;
  }


  .menutitle{
    display:none;
  }
  footer ul{
    ul{
      display:none;
    }
  }
 .headsecondary .layout div:nth-child(2){
    position:static;
  }

  /*----------- Home Page ------------ */

  .storyText {
    @include span(5 of 12);
    font-size: 1em;

  }

  .video {
    @include span(7 of 12);
    margin-top: 1.4em; //Aligns video with text, is there  better way to do this?
  }

  .video iframe {
    width: 100%;
    height: 18em;

  }

  .getInvolvedBadge {
    @include span(4 of 12);
    text-align: center;
  }

  .homeSplat {
  width: 90%;
  }

  .miniCalendar {
     @include span(last 8);
  }


  /*----------- Forms ------------ */

  .formText {
    @include span(5 of 12);
  }

  #mc_embed_signup {
    @include span(6 of 12);
    margin: 0;

  }

  .formSplat {
  width: 40%;
  }

  .donateForm {
    @include span(7 of 12);
  }



  /*----------- Get Involved Page ------------ */


  .giText {
    @include span(6 of 12);
  }

  .giImage {
    @include span(6 of 12);
  }


} // end of large breakpoint



/*------------ Gallery Template-------*/

.gallery{
  padding:$padding;
  margin-bottom: $margin;
}

.gallery p{
  visibility:hidden;
}



/*------------ Event Template-------*/

.tribe-events-promo{

  display:none !important;
}
.tribe-events-calendar th {
  background:$cpTeal !important; 

//link-colors($normal, $hover, $active, $visited, $focus)
  a{
    @include link-colors($cpSalmon, $cpGreen, $cpPurple, $cpTeal, $cpBlue);
  }
}

#tribe-events .tribe-events-button, .tribe-events-button {
background:$cpSalmon !important;
color:white;
}
  
@media screen and (min-width:900px){
 .primary{
    width:1000px;
    margin:auto;
  }
  .tribe-events-meta-group-organizer{
    Width:500px;
    margin:auto;
  }
  .tribe-events-event-meta .column, .tribe-events-event-meta, .tribe-events-meta-group{
    width:90% !important;
    text-align:center;
    margin:0 0 10px;
    clear:both;
  }
   #tribe-events {
   dl, dt, dd,ol,ul,li{
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    display: inline;
    clear: both;
    text-align:center;
    }

  }
   .tribe-events-meta-group-venue, .tribe-events-meta-group-gmap{
    width:90%;
    margin:auto;
  }
}
/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
  .primary{
  width:1000px;
  margin:auto;
  }
  .tribe-events-meta-group-organizer{
    Width:500px;
    margin:auto;
  }
  .tribe-events-event-meta .column, .tribe-events-event-meta, .tribe-events-meta-group{
    width:90% !important;
    text-align:center;
    margin:0 0 10px;
    clear:both;
  }
   #tribe-events {
   dl, dt, dd,ol,ul,li{
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    display: inline;
    clear: both;
    text-align:center;
    }

  }
}

.tribe-events-after-html{
  display:none;
}

@media screen and (min-width: 1000px){
   .primary{
    width:1000px;
    margin:auto;
  }
  .tribe-events-meta-group-organizer{
    Width:500px;
    margin:auto;
  }
  .tribe-events-event-meta .column, .tribe-events-event-meta, .tribe-events-meta-group{
    width:90% !important;
    text-align:center;
    margin:0 0 10px;
    clear:both;
  }
   #tribe-events {
    dl, dt, dd,ol,ul,li{
      padding: 0;
      border: 0;
      font: inherit;
      font-size: 100%;
      vertical-align: baseline;
      display: inline;
      clear: both;
      text-align:center;
    }
  }
   .tribe-events-meta-group-venue, .tribe-events-meta-group-gmap{
    width:90%;
    margin:auto;
  }

}


/* ----------- Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
  .primary{
  width:1000px;
  margin:auto;
  }
  .tribe-events-meta-group-organizer{
    Width:500px;
    margin:auto;
  }
  .tribe-events-event-meta .column, .tribe-events-event-meta, .tribe-events-meta-group{
    width:90% !important;
    text-align:center;
    margin:0 0 10px;
    clear:both;
  }
   #tribe-events {
   dl, dt, dd,ol,ul,li{
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    display: inline;
    clear: both;
    text-align:center;
    }
  }

}
