//######################Spacing Variables
// http://www.zell-weekeat.com/context-with-susy/
// $padding: 1rem;
// $margin: 1rem;
// $halfmargin: $padding/2;
// $halfpadding: $margin/2;


//######################LAYOUTS

//##########Susy Responsive sizes

//Susy is context/nesting sensitive!!!!


//place all custom spans in the Medium and Large breakpoints

// Since small is default, and sizes for small will be full width, there is
// no need to do spans for the small size.


// if you have a .primary (span(9 of 12)) section, and put three .thirdwidth

// if you have a .primary (span(9 of 12)) section, and put three .thirdwidth

// (span(4 of 12)) sections INSIDE it, then you will divide up the
// .primary into 12 columns and give each .thirdwidth section 4 of those nested columns.

// in other words, each nested .thirdwidth will be a third the width of the .primary section.

// if a class does not have a span defined, it will default to full width.
// it is preferred to not use the .fullwidth class

// .siteheader{}
// .main{}
// .sitefooter{}

//##########base layouts (Mobile and Small)
.layout{
  @include container;
  margin:0 auto;
  padding:0 $halfpadding;
  @include clearfix;
}

body nav,body main,body footer,body header{
  @include clearfix;
  margin:0;
}


.logoimg {
    height: 10rem;
}

footer .logoimg{
    height: 13rem;

}

.siteheader{
  background: url("images/heroimagesm.jpg") no-repeat center center;
  height: 10em;
}

.storyText {
  font-size: .8em;
}

.video {
  margin-top: 1.4em;
}

.video iframe {
    width: 95%;
    height: 15em;
    display: block;
    margin: auto;
  }

.getInvolvedBadge {
  text-align: center;
}

.homeSplat {
  display: block;
  margin: auto;
  width: 50%;
}

.galleryHome {
    margin: $margin;
  }

  .giText {
    margin-bottom: $margin;
    padding: $padding;
  }

  .giImage {
    padding: $padding;
  }


   .formText {
    padding: $padding;
  }

  .formSplat {
  width: 60%;
  display: block;
  margin: auto;
  }


//footer layout divs
body footer{
  padding-top: $padding;
}
.footlogo,   .footcopy{
  text-align:center;
}



//medium breakpoint
@include susy-breakpoint ($medium){
  //head columns
  .headprimary{
    // @include span(9 of 9);
  }

  .headsecondary{
    // @include span(6 of 9);
  }

  // .headsearch{
  //   @include span(last 3 of 9);
  // }

  //body columns
  .primary{
    @include span(6 of 9);
  }

  .secondary{
    @include span(3 of 9);
  }

  .fullwidth{
    @include span(9 of 9);
  }
  .thirdwidth{
    @include span(3 of 9);
  }

  .thirdwidth:nth-child(3n+0){
    @include span(last 3 of 9);
  }

  .fourths{
    @include span(3 of 9);
  }

  .fourths:nth-child(3n+0){
    @include span(last 3 of 9);
  }
  // .footcopy{
  //   @include span(9 of 9);
  //   clear:both;
  // }

  // .footcopy{
  //   span(isolate 3 at 1);
  // }
  // .footnav{
  //   span(isolate 3 at 6 of 9);
  // }
  // .footsocial{
  //   span(isolate 3 at 3 of 9);
  // }
  .footlogo{
    text-align:center;
    @include span(9 of 9);
    clear:both;
  }


  .siteheader{
    background: url("images/heroimage.png") no-repeat center center;
    height: 20em;
  }

  .logoimg{
      height: 9em;
    }

  .storyText {
    @include span(4 of 9);

  }

  .video {
    @include span(5 of 9);
    margin-top: 1.4em;
  }

  .video iframe {
    width: 100%;
    height: 18em;

  }

  .homeSplat {
  width: 40%;
  }

  .giText {
    @include span(4 of 9);
  }

  .giImage {
    @include span(5 of 9);
  }

/*----------- Forms ------------*/

  .formText {
    @include span(4 of 9);
  }

  #mc_embed_signup {
    @include span(5 of 9);

  }

  .formSplat {
  width: 40%;
  }

  .donateForm {
    @include span(5 of 9);
  }
}


//large breakpoint
@include susy-breakpoint ($large){
  //head columns
  .headprimary{
    // @include span(6 of 12);
  }

  .headsecondary{
    // @include span(3 of 12);
  }

  // .headsearch{
  //   @include span(last 3 of 12);
  // }

  //body columns
  .primary{
    @include span(9 of 12);
  }

  .secondary{
    @include span(3 of 12);
  }

  .fullwidth{
    @include span(12 of 12);
  }

  .thirdwidth{
    @include span(4 of 12);
  }

  .thirdwidth:nth-child(3n+0){
    @include span(last 3 of 12);
  }

  .fourths,   .fourths:nth-child(3n+0), .fourths:nth-child(4){
    @include span(3 of 12);
  }

   .fourths:nth-child(4){
    clear:none;
  }

  .fourths:nth-child(4n+0){
    @include span(last 3 of 12);
    text-align:right;
  }

  /*----------- Home Page ------------ */

  .storyText {
    @include span(5 of 12);
    font-size: 1em;

  }

  .video {
    @include span(7 of 12);
    margin-top: 1.4em; //Aligns video with text, is there  better way to do this?
  }

  .video iframe {
    width: 100%;
    height: 18em;

  }

  .getInvolvedBadge {
    @include span(4 of 12);
    text-align: left;
  }

  .homeSplat {
  width: 90%;
  }


  /*----------- Forms ------------ */

  .formText {
    @include span(5 of 12);
  }

  #mc_embed_signup {
    @include span(6 of 12);
    margin: 0;

  }

  .formSplat {
  width: 40%;
  }

  .donateForm {
    @include span(7 of 12);
  }



  /*----------- Get Involved Page ------------ */


  .giText {
    @include span(6 of 12);
  }

  .giImage {
    @include span(6 of 12);
  }
  .footlogo{
    text-align:right;
  }

} // end of large breakpoint



/*------------ Gallery Template-------*/

.gallery{
  padding:$padding;
  margin-bottom: $margin;
}

.gallery p{
  visibility:hidden;
}



/*------------ Event Template-------*/

.tribe-events-promo{
  visibility:hidden;
}

.tribe-events-meta-group-details{
  width:90%;

}
.tribe-events-meta-group-details dl{
  display:inline;
  float:left;
  text-align:center;
}
.tribe-events-meta-group-organizer{
  Width:500px;
  margin:auto;
}
.events-single ul.tribe-related-events {
  margin: 0 0 8%;
  padding: 0;
  border: solid;
  border-top-color: $cpBlue;
  border-right-color: $cpPurple;
  border-left-color:$cpSalmon;
  border-bottom-color: $cpGreen;
}
 .primary{
  width:1000px;
  margin:auto;
}
.tribe-events-event-meta .column, .tribe-events-event-meta, .tribe-events-meta-group{
  width:1000px;
  text-align:center;
  margin:0 0 10px;
  clear:both;
}
 dl, dt, dd,ol,ul,li{
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  display: inline;
  clear: both;
  text-align:center;
  
}
.tribe-events-meta-group-details, .tribe-events-meta-group-venue, .tribe-events-meta-group-gmap{
  width:1000px;
  margin:auto;
}
