//This is where we'll put most of the CSS
//to adjust the layout spans *have* to be in _layout.scss
//HELPER classes go into _helperclasses.scss

// also check out mixins at http://compass-style.org/index/mixins/
// when using a mixin, don't forget "@include " before it.


body{
  background-color: $cMain;
}//body

ul{
  margin-bottom:0;
  // padding: 0;
  padding-left:0;

  li{
    padding-bottom:$padding;
  }//ul li


}// ul

footer ul{
  margin-top:0;
  ul{
    padding-top:$padding;
    padding-left: 2em;
    li:last-child{
      padding-bottom:0;
    }
  }
}

.postmenu{
  text-align:center;
  padding-bottom:1em;
}

main h1{
  color: $cpPurple;
  text-align: center;
  line-height: 1em;
  margin-top: .5 rem;

}

.siteheader, .sitefooter{
  margin:0;
  color: $cWhite;

  //nested style only affects layouts in siteheader or footer

  a {

    //LINK COLOR MIX IN

    //link-colors($normal, $hover, $active, $visited, $focus)
    @include link-colors($cWhite, $cpBlue,$cpPurple, $cWhite, $cpBlue);


    &:hover, &:focus{
      text-decoration: none;
    }


  }//head/foot a

}

main {
  background-color: $cWhite;
}

.headsecondary {
  padding-top: $padding;
  padding-bottom: $padding;
  margin-top:0;
  margin-bottom:0;

  .layout{
    padding-top:0;
    padding-bottom:0;
    margin: 0 auto;
    content: "Menu";

  }//headsecondary layout

  ul{
    margin-top:0;
    padding: 0;

  li{
    padding:0;
    padding-right: 2em;
    display:inline-block;

    &:last-child{
        padding-right: 0;
    }
  }

  }//headsecondary ul


  a {

    //LINK COLOR MIX IN

    //link-colors($normal, $hover, $active, $visited, $focus)
    @include link-colors($cWhite, $cpBlue,$cpPurple, $cWhite, $cpBlue);

    font-size: 1.5rem;

    &:hover, &:focus{
      text-decoration: none;
    }


  }//headsecondary a

}//headsecondary

/*----------Homepage - Story Section----------- */

.storyText h2 {
    color: $cpTeal;

}

.storyText a:hover {
    text-decoration: none;
}

.blueButton{ //How do I center this w/i the storyText div?
    background: $cpBlue;
    color: white;
    font-family: 'Graduate', sans-serif;
    border: none;
    padding: .2em .6em .2em .6em;
    border-radius: .2em;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    transition: background .05s ease;
    margin: 0 auto;
    display: block;
}

.blueButton:hover {
    background: darken($cpBlue, 10%);
}

/*----------Homepage - Get Involved Section----------- */

.getInvolved {
    background: lighten($cpYellow, 35%);
    margin-top: 1em;
    padding: .5em 1em 1em 1em;

}

.getInvolved h2 {
    color: $cpBlue;
    text-align: center;
}

.getInvolvedBadge a:hover {
    text-decoration: none;
}

/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/*---------- Home Page - Event/Gallery Section --------- */

  .upcomingEvents {
    margin: $margin;
  }

  .upcomingEvents h2 {
    color: $cpPurple;
  }

  .upcomingEvents ol {
    padding: 0;
  }

  .tribe-mini-calendar thead {
    background: $cpTeal;
  }

  .tribe-mini-calendar-event .list-date {
    background: $cpTeal !important;
  }

  .galleryHome h2 {
    color: $cpPurple;
    text-align: left;
  }

  .galleryHome a:hover {
    text-decoration: none;
  }

  #cycloneslider-home-page-slider-1 {
    margin: auto;
  }

  #cycloneslider-home-page-slider-1-pager {
    margin: auto;
  }


/*---------- Forms ----------- */

    .formText h2 {
      text-align: center;
    }

    #mc_embed_signup {
        border: solid 1px $cpBlue;
        border-radius: .2em;
        -webkit-border-radius: .2em;
        -moz-border-radius: .2em;
        padding: .5em 1em 1em 1em;
        margin: $margin;
    }

    #mc_embed_signup.sponsorForm {
        border: solid 1px $cpSalmon;
    }

    #mc_embed_signup.contactForm {
        border: solid 1px $cpOrange;
    }


    #mc_embed_signup h2 {
        color:$cpBlue;
        text-align: center;

    }

    #mc_embed_signup.sponsorForm h2 {
      color:$cpSalmon;
    }

    #mc_embed_signup.contactForm h2 {
      color:$cpOrange;
    }

    .formButton{
      background: $cpBlue;
      color: white;
      font-family: 'Graduate', sans-serif;
      border: none;
      width: 100%;
      padding: .5em;
      margin-top: 1em;
      border-radius: .2em;
      -webkit-border-radius: .2em;
      -moz-border-radius: .2em;
      transition: background .05s ease;
      margin: auto 0;
    }

    .formButton:hover {
        background: darken($cpBlue, 10%);
    }

    .sponsorButton{
      background: $cpSalmon;
      color: white;
      font-family: 'Graduate', sans-serif;
      border: none;
      width: 100%;
      padding: .5em;
      margin-top: 1em;
      border-radius: .2em;
      -webkit-border-radius: .2em;
      -moz-border-radius: .2em;
      transition: background .05s ease;
      margin: auto 0;
    }

    .sponsorButton:hover {
        background: darken($cpSalmon, 10%);
    }

    .contactButton{
      background: $cpOrange;
      color: white;
      font-family: 'Graduate', sans-serif;
      border: none;
      width: 100%;
      padding: .5em;
      margin-top: 1em;
      border-radius: .2em;
      -webkit-border-radius: .2em;
      -moz-border-radius: .2em;
      transition: background .05s ease;
      margin: auto 0;
    }

    .contactButton:hover {
        background: darken($cpOrange, 10%);
    }

    input {
      width: 100%;
    }

    .checkbox {
      width: 7%;
    }

/*---------- Get Involved ----------- */

    .getInvolvedPage h1 {
        color: $cpPurple;
        text-align: center;
    }

    .giVolunteer {
    border-top:  solid 1em $cpBlue;
    color: $cpBlue;
    }

    .giDonate {
    border-top:  solid 1em $cpGreen;
    color: $cpGreen;

    }

    .giSponsor {
    border-top:  solid 1em $cpSalmon;
    color: $cpSalmon;
    }

    .giText a:hover {
        text-decoration: none;
    }

    .giImage iframe {
        width: 100%;
        height: 18em;
    }

    .giImage img {
      width: 100%
    }

    .greenButton{
    background: $cpGreen;
    color: white;
    font-family: 'Graduate', sans-serif;
    border: none;
    padding: .2em .6em .2em .6em;
    border-radius: .2em;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    transition: background .05s ease;
    margin: 0 auto;
    display: block;
    }

    .greenButton:hover {
        background: darken($cpGreen, 10%);
    }

    .pinkButton{
    background: $cpSalmon;
    color: white;
    font-family: 'Graduate', sans-serif;
    border: none;
    padding: .2em .6em .2em .6em;
    border-radius: .2em;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    transition: background .05s ease;
    margin: 0 auto;
    display: block;
    }

    .pinkButton:hover {
        background: darken($cpSalmon, 10%);
    }


//DROP DOWN MENU

.headsecondary, .headsecondary .layout{
  overflow: visible;
}

.headsecondary .layout div:nth-child(2){
  ul
  {
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
  }

  ul a
  {
    display:block;
    padding:0 15px;
  }

  ul li
  {
    position:relative;
    float:left;
    margin:0;
    padding:0
  }

  ul li.current-menu-item a
  {
    color:$cpBlue;
  }

  ul li:hover
  {
    // background:#f6f6f6
  }

  ul ul
  {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background: $cpTeal;
    padding:0;
    padding-top:.5em;
    z-index: 9999;
  }

  ul ul li
  {
    float:none;
    width:200px
  }

  ul ul a
  {
    line-height:120%;
    padding:10px 15px
  }

  ul ul ul
  {
    top:0;
    left:100%
  }

  ul li:hover ul
  {
    display:block
  }
}
