//This is where we'll put most of the CSS
//to adjust the layout spans *have* to be in _layout.scss
//HELPER classes go into _helperclasses.scss

// also check out mixins at http://compass-style.org/index/mixins/
// when using a mixin, don't forget "@include " before it.


body{
  background-color: $cMain;
}//body

ul{
  margin-bottom:0;
  // padding: 0;
  padding-left:0;

  li{
    padding-bottom:$padding;
  }//ul li


}// ul

footer ul{
  margin-top:0;
  ul{
    padding-top:$padding;
    padding-left: 2em;
    li:last-child{
      padding-bottom:0;
    }
  }
}

main h1{
  color: $cpPurple;
  text-align: center;
  line-height: 1em;
  margin-top: .5 rem;

}

.siteheader, .sitefooter{
  margin:0;
  color: $cWhite;

  //nested style only affects layouts in siteheader or footer

  a {

    //LINK COLOR MIX IN

    //link-colors($normal, $hover, $active, $visited, $focus)
    @include link-colors($cWhite, $cpBlue,$cpPurple, $cWhite, $cpBlue);


    &:hover, &:focus{
      text-decoration: none;
    }


  }//head/foot a

}

main {
  background-color: $cWhite;
}

.headsecondary {
  padding-top: $padding;
  padding-bottom: $padding;
  margin-top:0;
  margin-bottom:0;

  .layout{
    padding-top:0;
    padding-bottom:0;
    margin: 0 auto;

  }//headsecondary layout

  ul{
    margin-top:0;
    padding: 0;

  li{
    padding:0;
    padding-right: 2em;
    display:inline-block;

    &:last-child{
        padding-right: 0;
    }
  }

  }//headsecondary ul


  a {

    //LINK COLOR MIX IN

    //link-colors($normal, $hover, $active, $visited, $focus)
    @include link-colors($cWhite, $cpBlue,$cpPurple, $cWhite, $cpBlue);

    font-size: 1.5rem;

    &:hover, &:focus{
      text-decoration: none;
    }


  }//headsecondary a

}//headsecondary

/*----------Homepage - Story Section----------- */

.storyText h2 {
    color: $cpTeal;

}

.storyText a:hover {
    text-decoration: none;
}

.blueButton{ //How do I center this w/i the storyText div?
    background: $cpBlue;
    color: white;
    font-family: 'Graduate', sans-serif;
    border: none;
    padding: .2em .6em .2em .6em;
    border-radius: .2em;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    transition: background .05s ease;
    margin: 0 auto;
    display: block;
}

.blueButton:hover {
    background: darken($cpBlue, 10%);
}

/*----------Homepage - Get Involved Section----------- */

.getInvolved {
    background: lighten($cpYellow, 35%);
    margin-top: 1em;
    padding: .5em 1em 1em 1em;

}

.getInvolved h2 {
    color: $cpBlue;
    text-align: center;
}

.getInvolvedBadge a:hover {
    text-decoration: none;
}

/*---------- Home Page - Event/Gallery Section --------- */

  .upcomingEvents {
    margin: $margin;
  }

  .upcomingEvents h2 {
    color: $cpPurple;
  }

  .upcomingEvents ol {
    padding: 0;
  }

  .tribe-mini-calendar thead {
    background: $cpTeal;
  }

  .tribe-mini-calendar-event .list-date {
    background: $cpTeal !important;
  }

  .galleryHome h2 {
    color: $cpPurple;
    text-align: left;
  }

  .galleryHome a:hover {
    text-decoration: none;
  }

  #cycloneslider-home-page-slider-1 {
    margin: auto;
  }

  #cycloneslider-home-page-slider-1-pager {
    margin: auto;
  }


/*---------- Forms ----------- */

    .formText h2 {
      text-align: center;
    }

    #mc_embed_signup {
        border: solid 1px $cpBlue;
        border-radius: .2em;
        -webkit-border-radius: .2em;
        -moz-border-radius: .2em;
        padding: .5em 1em 1em 1em;
        margin: $margin;
    }

    #mc_embed_signup.sponsorForm {
        border: solid 1px $cpSalmon;
    }

    #mc_embed_signup.contactForm {
        border: solid 1px $cpOrange;
    }


    #mc_embed_signup h2 {
        color:$cpBlue;
        text-align: center;

    }

    #mc_embed_signup.sponsorForm h2 {
      color:$cpSalmon;
    }

    #mc_embed_signup.contactForm h2 {
      color:$cpOrange;
    }

    .formButton{
      background: $cpBlue;
      color: white;
      font-family: 'Graduate', sans-serif;
      border: none;
      width: 100%;
      padding: .5em;
      margin-top: 1em;
      border-radius: .2em;
      -webkit-border-radius: .2em;
      -moz-border-radius: .2em;
      transition: background .05s ease;
      margin: auto 0;
    }

    .formButton:hover {
        background: darken($cpBlue, 10%);
    }

    .sponsorButton{
      background: $cpSalmon;
      color: white;
      font-family: 'Graduate', sans-serif;
      border: none;
      width: 100%;
      padding: .5em;
      margin-top: 1em;
      border-radius: .2em;
      -webkit-border-radius: .2em;
      -moz-border-radius: .2em;
      transition: background .05s ease;
      margin: auto 0;
    }

    .sponsorButton:hover {
        background: darken($cpSalmon, 10%);
    }

    .contactButton{
      background: $cpOrange;
      color: white;
      font-family: 'Graduate', sans-serif;
      border: none;
      width: 100%;
      padding: .5em;
      margin-top: 1em;
      border-radius: .2em;
      -webkit-border-radius: .2em;
      -moz-border-radius: .2em;
      transition: background .05s ease;
      margin: auto 0;
    }

    .contactButton:hover {
        background: darken($cpOrange, 10%);
    }

    input {
      width: 100%;
    }

/*---------- Get Involved ----------- */

    .getInvolvedPage h1 {
        color: $cpPurple;
        text-align: center;
    }

    .giVolunteer {
    border-top:  solid 1em $cpBlue;
    color: $cpBlue;
    }

    .giDonate {
    border-top:  solid 1em $cpGreen;
    color: $cpGreen;

    }

    .giSponsor {
    border-top:  solid 1em $cpSalmon;
    color: $cpSalmon;
    }

    .giText a:hover {
        text-decoration: none;
    }

    .giImage iframe {
        width: 100%;
        height: 18em;
    }

    .giImage img {
      width: 100%
    }

    .greenButton{
    background: $cpGreen;
    color: white;
    font-family: 'Graduate', sans-serif;
    border: none;
    padding: .2em .6em .2em .6em;
    border-radius: .2em;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    transition: background .05s ease;
    margin: 0 auto;
    display: block;
    }

    .greenButton:hover {
        background: darken($cpGreen, 10%);
    }

    .pinkButton{
    background: $cpSalmon;
    color: white;
    font-family: 'Graduate', sans-serif;
    border: none;
    padding: .2em .6em .2em .6em;
    border-radius: .2em;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    transition: background .05s ease;
    margin: 0 auto;
    display: block;
    }

    .pinkButton:hover {
        background: darken($cpSalmon, 10%);
    }
